html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("bg.webp");
	background-position:center;
	background-repeat: no-repeat;
	background-size:cover;
}

.header {
	color:sienna;
	font-family:fantasy;
	font-weight: bold;
	font-size: 85px;
	letter-spacing: 10px;
	margin-top: 80px;
	margin-left: 100px;
}

.header img {
	width: 80px;
	margin-left: -10px;
}

hr{
	border: 1px solid sienna;
	width:80%;
	margin-bottom: 50px;
}

.login_div {
	background-color:tan;
	background-position: center;
	background-size: cover;
	float: none;
	border-radius: 25px;
}

.logo {
	width: 80px;
	margin-top: 30px;
	border-radius: 40px;
}

label{
	font-size: 15px;
}

#user_name, #room_name{
	border-radius: 10px;
	text-align: center;
}

#login_button, #addRoom {
	width: 50%;
	border-radius: 25px;
	background-color: sienna;
}

.room_name {
	cursor: pointer;
	font-size: 20px;
}

#logout {
	margin-top: 20px;
	margin-right: 20px;
	font-size: 20px;
	float: right;
}


#output {
	padding: 10px;
	width: 80%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
}

.input_div_room_page {
	width: 80%;
}

.input_div label {
	color: white;
	font-size: 20px;
}


.input_div_message_page {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.input_div_message_page label {
	color: black;
}

.input_div_message_page #msg {
	width: 80%;
}

.input_div_message_page button {
	margin-top: 15px;
	width: 50%;
}

.color_white {
	color: sienna;
	font-family: cursive;
	font-size: 40px;
}

.user_tick {
	width: 20px;
}

.message_h4 {
	padding-left: 5px;
	color: grey;
}